.places__photo{
    width: 460px;
    height: 460px;
    grid-area: photo;
    margin-top: 48px;
    object-fit: contain;
    object-position: top;
}

@media screen and  (max-width: 1024px){
    .places__photo{
        width: 100%;
        max-height: 440px;
        
    }
}

@media screen and (max-width: 780px){
    .places__photo{
        width: 100%;
        max-height: 340px;
    }
}

@media screen and (max-width: 710px){
    .places__photo{
        max-width: 320px;
        max-height: 320px;
        margin-top: 32px;
    }
}
