.places{
    margin: 12px auto 0;
    max-width: 984px;
}

@media screen and  (max-width: 1024px){
    .places{
        max-width: calc(1024px - 96px);
    }
}

@media screen and (max-width: 780px){
    .places{
        max-width: calc(780px - 48px);
    }
}

@media screen and (max-width: 710px){
    .places{
        max-width: 320px;
    }
}