.photos-of-russia{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 16px;
    column-gap: 16px;
    margin: 0;
    justify-content: center;
    margin-top: 92px;
}

@media screen and (max-width: 1200px){
    .photos-of-russia{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        row-gap: 14px;
        column-gap: 14px;
    }
}

@media screen and (max-width: 950px){
    .photos-of-russia{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        row-gap: 14px;
        column-gap: 14px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 740px){
    .photos-of-russia{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(12, auto);
        row-gap: 12px;
        margin-top: 64px;
    }
}