.introduction__info{
    margin-top: 33px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 768px){
    .introduction__info{
        margin-top: 33px;
    }
}

@media screen and (max-width: 360px){
    .introduction__info{
        max-width: 288px;
        font-size: 12px;
        line-height: 18px;
        margin-top: 34px;
    }
}