.trains__photo{
    width: 100%;
    margin: 0 auto 0;
    background-image: url("../../../images/trains__photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1184px;
    min-height: 740px;
}

@media screen and (max-width: 1024px){
    .trains__photo{
        margin-left: 0;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px){
    .trains__photo{
        min-height: 480px;
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .trains__photo{
        min-height: 340px;
    }
}

@media screen and (max-width: 400px){
    .trains__photo{
        min-height: 200px;
    }
}