.trains__title{
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin: 0 auto 0;
}

@media screen and (max-width: 768px){
    .trains__title{
        font-size: 9.6vw;
    }
}

@media screen and (max-width: 600px){
    .trains__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}