.trains__link{
    text-decoration: none;
    max-width: 1184px;
    margin: 0 0 0 auto;
    object-fit: contain;
}

.trains__link:hover{
    cursor: url(../../../images/cursor.jpg);
}

@media screen and  (max-width: 1024px){
    .trains__link{
        width: 100%;
    }
}